.images{
    display: flex;
    width: 100%;
    height: 100%;
}


.hover-container{
    position: relative; /* This allows us to absolutely position child images relative to the container */
    height: 90%;
    width: 50%;
}
.hover-container .image-frame{

    /* First we create three frames, one for each image and make them absolutely */
    /* positioned to that they overlap each other */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;


    /* These next three lines center the image in the frame*/
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Next we ensure that overly-vertical images won't spill out of the frame */
    overflow: hidden;

    /* Finally we make them fade smoothly */
    transition: opacity 1s;
}

.image-frame img{
    /* This makes the image the full-width of its frame. The height is auto from aspect ratio */
    width: 100%;
}

.container-1 {
   top: 20%;
   left: 10%;
}

.container-2 {
   top: 70%;
   left: 40%;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.row [class*="col-"] {
	box-sizing: border-box;
	margin: 0 0;
	padding: 1em;

/*  if doesnt work delete from here on */
.col-1 {
	width: calc(8.3333333333%*1);
}

.col-2 {
	width: calc(8.3333333333%*2);
}

.col-3 {
	width: calc(8.3333333333%*3);
}

.col-4 {
	width: calc(8.3333333333%*4);
}

.col-5 {
	width: calc(8.3333333333%*5);
}

.col-6 {
	width: calc(8.3333333333%*6);
}

.col-7 {
	width: calc(8.3333333333%*7);
}

.col-8 {
	width: calc(8.3333333333%*8);
}

.col-9 {
	width: calc(8.3333333333%*9);
}

.col-10 {
	width: calc(8.3333333333%*10);
}

.col-11 {
	width: calc(8.3333333333%*11);
}

.col-12 {
	width: calc(8.3333333333%*12);
}
