@charset "UTF-8";
* {
  
  box-sizing: border-box;
  
  margin: 0;
  padding: 0; }


img {
  display: block;
  width: 100%;
  height: auto; }

.hidden {
  display: none; }

.left {
  float: left; }

.right {
  float: right; }

.one {
  width: 100%; }

.one-two {
  width: 50%; }
  @media (max-width: 540px) {
    .one-two {
      width: 100%; } }

.full-page {
  height: 100%; }



.home-gallery {
  padding: 0 20px;
  margin-top: 86px; }
  @media (max-width: 780px) {
    .home-gallery {
      padding: 0 15px; } }
  @media (max-width: 700px) {
    .home-gallery {
      margin-top: 64.5px; } }
  @media (max-width: 540px) {
    .home-gallery {
      padding: 0 8px;
      margin-top: 16px; } }
  @media (max-width: 540px) {
    .home-gallery:last-child {
      padding: 0 8px;
      margin-top: 0; } }
  .home-gallery figure {
    padding-bottom: 66.6666%;
    position: relative; }
  .home-gallery img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%; }
    .home-gallery img.active {
      opacity: 1; }
  



/*.vertical-pos {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 20px; }
  @media (max-width: 780px) {
    .vertical-pos {
      padding: 0 15px; } }
  @media (max-width: 540px) {
    .vertical-pos {
      padding: 0 8px;
      vertical-align: top; } }

@media (max-width: 700px) and (orientation: landscape) {
  .vertical-pos {
    vertical-align: top; } } */